*{
    margin: 0;
    padding: 0;
}
.profile{
    height: 100vh;
    background-image: url("img/hotel-g8b2f662f8_1920.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-items h1{
    text-align: center;
    color: red;
}
.profile-items h3{
    text-align: center;
    
}